<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.jpg" %>
	</div>

	<div id="content">
		<h1>Hello there! I'm Gaute Gjerløw Remen</h1>
		<p>I am a graduate student in Information Science and on this blog I share my interest in technology, IT, programming (mainly front-end like JavaScript, Ruby On Rails, HTML5, JavaFX, but also know my way around OOP-languages like Java), leadership and photography</p>
	</div>
</div>